.drag {
    position: absolute;
    color: white;
    padding: 40px;
    font-weight: bold;
    top: 5px;
}

.drag1 {
    background-color: green;
    left: 5px;
}

.drag2 {
    left: 120px;
    background-color: blue;
}

.drag3 {
    left: 235px;
    background-color: red;
}

.drop {
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin-top: 120px;
}

.drop1 {
    border: 3px solid green;
    background-color: #00CFFF;
}
